# ------------------------------
# .gitignore
# ------------------------------

# Python compiled files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/

# data folder
dados/**/*.csv

# logs
data/*.log