# ------------------------------
# arquivos não rastreados
# ------------------------------

# pasta "app"
app/power-bi/*.pbix

# pasta "scripts"
scripts/cotacoes/*.py
!scripts/cotacoes/acoes.py

scripts/empresas/*.py
scripts/indices/*.py

# pasta "tests"
test_pandas.py
